packages/ocvImpact/DESCRIPTION
packages/ocvImpact/NAMESPACE

input_data/incidence/afro_2010-2016_lambda_5k.tif
deleted/

input_data/incidence/AFG_incid_5k_50.tif
input_data/incidence/AGO_incid_5k_50.tif
input_data/incidence/BDI_incid_5k_50.tif
input_data/incidence/BEN_incid_5k_50.tif
input_data/incidence/BFA_incid_5k_50.tif
input_data/incidence/BGD_incid_5k_50_setting1.tif
input_data/incidence/BGD_incid_5k_50_setting2.tif
input_data/incidence/BGD_incid_5k_50_setting3.tif
input_data/incidence/BGD_incid_5k_50_setting4.tif
input_data/incidence/CAF_incid_5k_50.tif
input_data/incidence/CIV_incid_5k_50.tif
input_data/incidence/CMR_incid_5k_50.tif
input_data/incidence/COD_incid_5k_50.tif
input_data/incidence/COG_incid_5k_50.tif
input_data/incidence/DZA_incid_5k_50.tif
input_data/incidence/ETH_incid_5k_50.tif
input_data/incidence/GHA_incid_5k_50.tif
input_data/incidence/GIN_incid_5k_50.tif
input_data/incidence/GNB_incid_5k_50.tif
input_data/incidence/HTI_incid_5k_50.tif
input_data/incidence/IND_incid_5k_50.tif
input_data/incidence/IRN_incid_5k_50.tif
input_data/incidence/IRQ_incid_5k_50.tif
input_data/incidence/KEN_incid_5k_50.tif
input_data/incidence/LBR_incid_5k_50.tif
input_data/incidence/MDG_incid_5k_50.tif
input_data/incidence/MLI_incid_5k_50.tif
input_data/incidence/MOZ_incid_5k_50.tif
input_data/incidence/MRT_incid_5k_50.tif
input_data/incidence/MWI_incid_5k_50.tif
input_data/incidence/NAM_incid_5k_50.tif
input_data/incidence/NER_incid_5k_50.tif
input_data/incidence/NGA_incid_5k_50.tif
input_data/incidence/NPL_incid_5k_50.tif
input_data/incidence/PAK_incid_5k_50.tif
input_data/incidence/PHL_incid_5k_50.tif
input_data/incidence/RWA_incid_5k_50.tif
input_data/incidence/SEN_incid_5k_50.tif
input_data/incidence/SLE_incid_5k_50.tif
input_data/incidence/SOM_incid_5k_50.tif
input_data/incidence/SSD_incid_5k_50.tif
input_data/incidence/TCD_incid_5k_50.tif
input_data/incidence/TGO_incid_5k_50.tif
input_data/incidence/THA_incid_5k_50.tif
input_data/incidence/TZA_incid_5k_50.tif
input_data/incidence/UGA_incid_5k_50.tif
input_data/incidence/YEM_incid_5k_50.tif
input_data/incidence/ZAF_incid_5k_50.tif
input_data/incidence/ZMB_incid_5k_50.tif
input_data/incidence/ZWE_incid_5k_50.tif

input_data/outbreak/
*.rds
montagu/202110gavi-3/202110gavi-3_405_all-countries_int_pop_both.csv
montagu/202110gavi-3/202110gavi-3_405_all-countries_lx0_both.csv
montagu/202110gavi-3/202110gavi-3_405_all-countries_tot_pop_both.csv
montagu/202110gavi-3/central-burden-template.202110gavi-3.Cholera-standard-template.405.csv
montagu/202110gavi-3/coverage_202110gavi-3_cholera-campaign-default.csv
montagu/202110gavi-3/coverage_202110gavi-3_cholera-no-vaccination.csv
montagu/202110gavi-3/stochastic-burden-template.202110gavi-3.Cholera_ standard template.405.csv
output_final/202110gavi-3/
output_raw/202110gavi-3/
packages/ocvImpact/R/import_age_targeted_vac_pro.R
packages/ocvImpact/R/outbreak_incidence_rate_multiplier_old.R
*.out
